.dropdownButton {
    background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
  position: absolute;
  min-width: 820px;
  z-index: 1;
}

.dropdown-item {
    background-color: rgb(255, 191, 132);
    border:none;
    font-size: 25px;
    color: rgb(21, 75, 100);

    border-radius: 8px;
    margin: 0px 4px 4px 0px;
    transition-duration: 0.1s;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}